# Python Fundamentals — Intro Class
By Rotich Kibet

## PRINT STATEMENTS & COMMENTS
The print() function displays messages or data on the screen

In [1]:
print("Rotich Kibet")

Rotich Kibet

In [2]:
# Comments are lines ignored by Python. They help explain code.
print("Hello, world!")  # This prints the text "Hello, world!"
print("Welcome to Python programming!")

Hello, world!
Welcome to Python programming!

## VARIABLES & DATA TYPES
Variables store data values in memory

In [3]:
name = "Rotich Kibet"    # string
age = 25                 # integer
school = 'JKUAT'         # string
in_school = True         # boolean (True or False)
average_points = 23.5    # float (decimal number)

In [4]:
# You can reassign variables
name = 'Omwami'
age = 35
school = 'UON'

In [5]:
# Check the data type of a variable using type()
print(type(age))

<class 'int'>

## USER INPUT
input() allows users to enter values during program execution

In [6]:
username = input("What is your name? : ")
print("Hello,", username)

What is your name? : kibet
Hello, kibet

## TYPE CONVERSION
Convert between different data types

In [7]:
user_age = input("How old are you? : ")
yob = 2025 - int(user_age)   # Convert input to integer before calculation
print("Your year of birth is:", yob)

How old are you? : 78
Your year of birth is: 1947

In [8]:
age = '78'
print(type(age))
age = int(age)   # convert string to integer
print(type(age))

<class 'str'>
<class 'int'>

In [9]:
age = 78
print(type(age))
age = str(age)   # convert integer to string
print(type(age))

<class 'int'>
<class 'str'>

## ARITHMETIC OPERATIONS
+ addition, - subtraction, / division, * multiplication
// floor division, % modulus (remainder), ** exponent

In [10]:
number1 = 20
number2 = 5
print(number1 + number2)
print(number1 - number2)
print(number1 / number2)
print(number1 * number2)

25
15
4.0
100

In [11]:
print(5 // 2)   # floor division (no decimals)
print(10 % 7)   # modulus (remainder)
print(2 ** 10)  # exponent (2^10)

2
3
1024

## COMPARISON OPERATORS
- `>` greater than
- `<` less than
- `==` equal to
- `>=` greater than or equal to
- `<=` less than or equal to

In [12]:
age = 20
print("Is the person an adult?")
print(age >= 18)  # True if age is 18 or more

Is the person an adult?
True

## LOGICAL OPERATORS
- `and` → True only if both conditions are True
- `or` → True if at least one condition is True
- `not` → reverses the result (True becomes False)

In [13]:
my_age = 15
user_age = int(input("How old are you? : "))
# Is the person not an adult?
print(not user_age >= 18)

How old are you? : 67
False

In [14]:
# Ask for user's age and show next year's age and adulthood status
age = input("How old are you? ")
print("Next year you will be", int(age) + 1, "years old")
print("Are you an adult?", int(age) >= 18)

How old are you? 56
Next year you will be 57 years old
Are you an adult? True

## CONTROL STATEMENTS (IF, ELIF, ELSE)

In [15]:
# Example 1: Simple if-else
age = int(input("How old are you? "))
if age >= 18:
    print("You are an adult")
else:
    print("You are not an adult")

How old are you? 34
You are an adult

In [16]:
# Example 2: If - Elif - Else (grading system)
marks = int(input("How many marks did you get? "))
if marks >= 70:
    print("Grade: A")
elif marks >= 60:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: Fail")

How many marks did you get? 78
Grade: A

## FOR LOOP
Loops help you repeat actions multiple times

In [17]:
# range(10) gives numbers 0–9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
# Example of a while loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

## FUNCTIONS
Functions are blocks of reusable code that perform a specific task. They help organize code and make it more readable and maintainable.

- Defined using the `def` keyword.
- Can take arguments (inputs) and return values (outputs).
- Use the `return` keyword to send a value back from the function.

In [20]:
# Example of a simple function
def greet(name):
  # This function greets the person passed in as a parameter.
  print("Hello, ",name,"!")

# Calling the function
greet("Rotich")
greet("Omwami")

Hello,  Rotich !
Hello,  Omwami !